<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userdaetails</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body style="background-image: url('static/cop.jpg');background-repeat: no-repeat;background-size: cover;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">DIGITAL E-GRAM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link active" aria-current="page" href="view_complaints">Complaint action</a>
          
             

              
            </div>
          </div>
        </div>
      </nav>
   <center> <h1 style="margin-top: 3%;">USER REGISTRATION DETAILS</h1></center>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for complaint in complaints %}
          <tr>
            <th scope="row">{{ complaint.id }}</th>
            <td>{{ complaint.name }}</td>
            <td>{{ complaint.email }}</td>
            <td>{{ complaint.phone }}</td>
            <td>{{ complaint.address }}</td>
            <td>{{ complaint.category }}</td>
            <td>{{ complaint.description }}</td>
            <td>{{ complaint.priority }}</td>
            <td>{{ complaint.status }}</td>
            <td>
                <form action="/complaint/{{ complaint.id }}/take_action" method="POST">
                    <select name="action">
                        <option value="Resolved">Resolved</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Closed">Closed</option>
                    </select>
                    
                    <button type="submit">Submit</button>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
   
</body>
</html>


